<h2>Edit category</h2>

<%= render "form.html", changeset: @changeset,
                        action: category_path(@conn, :update, @category) %>

<%= link " Back", to: category_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
