<h2>Listing categories</h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Books</th>
      <th class="three_button_width"></th>
    </tr>
  </thead>
  <tbody>
<%= for category <- @categories do %>
    <tr>
      <td><%= category.name %></td>
      <td><%= length(category.books) %></td>
      <td class="text-right">
        <%= link "", to: category_path(@conn, :show, category), class: "btn btn-default btn-xs fa fa-eye fa-2x", title: "Show" %>
        <%= link "", to: category_path(@conn, :edit, category), class: "btn btn-default btn-xs  fa fa-edit fa-2x", title: "Edit" %>
        <%= link "", to: category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs fa fa-trash fa-2x", title: "Delete" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<%= link " New", to: category_path(@conn, :new), class: "btn btn-success btn-xs fa fa-plus-circle fa-2x" %>
