<h2>New category</h2>

<%= render "form.html", changeset: @changeset,
                        action: category_path(@conn, :create) %>

<%= link " Back", to: category_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
