<h2>Show category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>
  <li>
    <strong>Books:</strong></br>
  <%= for book <- @category.books do %>
      <%= book.title %>
      <br/>
  <% end %>
  </li>

</ul>

<%= link " Back", to: category_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<%= link " Edit", to: category_path(@conn, :edit, @category), class: "btn btn-default btn-xs fa fa-edit fa-2x left-margin" %>
