<h2>Edit author</h2>

<%= render "form.html", changeset: @changeset,
                        action: author_path(@conn, :update, @author) %>

<%= if @from_show do %>
<%= link " Back", to: author_path(@conn, :show, @author.id), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% else %>
<%= link " Back", to: author_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% end %>
