<h2>Listing authors</h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Books</th>

      <th class="three_button_width"></th>
    </tr>
  </thead>
  <tbody>
<%= for author <- @authors do %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.email %></td>
      <td><%= for book <- author.books do %>
          <%= book.title %>
          <br/>
      <% end %></td>

      <td class="text-right">
        <%= link "", to: author_path(@conn, :show, author), class: "btn btn-default btn-xs fa fa-eye fa-2x", title: "Show" %>
        <%= link "", to: author_path(@conn, :edit, author), class: "btn btn-default btn-xs  fa fa-edit fa-2x", title: "Edit" %>
        <%= link "", to: author_path(@conn, :delete, author), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs fa fa-trash fa-2x", title: "Delete" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<%= link " New", to: author_path(@conn, :new), class: "btn btn-success btn-xs fa fa-plus-circle fa-2x" %>
