<h2>New author</h2>

<%= render "form.html", changeset: @changeset,
                        action: author_path(@conn, :create) %>

<%= link " Back", to: author_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
