<h2>Show author</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @author.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @author.email %>
  </li>

  <li>
    <strong>Books:</strong>
    <%= length(@author.books) %>
  </li>

  <%= for book <- @author.books do %>
      <a href="<%= book_path(@conn, :show, book.id) %>"><%= book.title %></a>
      <br/>
  <% end %>

  <br/>
  <%= link " Add book", to: author_book_path(@conn, :new, @author.id), class: "btn btn-success btn-xs fa fa-plus-circle fa-2x" %>
</ul>

<%= link " Back", to: author_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<%= link " Edit", to: author_path(@conn, :edit, @author, from_show: true), class: "btn btn-default btn-xs fa fa-edit fa-2x left-margin" %>
