/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron.index {
    background-color: white;
    margin-bottom: 0px;
    padding-top: 10px;
}

.logo {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/books.png");
  background-size: auto auto;
  padding-top: 190px;
}

header.jumbotron.logo.left {
    text-align: left;
    padding-bottom: 5px;
    padding-left: 10px;
}

.home_btn {
  font-size: 2em;
}

.index_btn {
  font-size: 5em;
}

.index_btn.hover {
  font-size: 5.3em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

a.btn.btn-default.left-margin {
    margin-left: 10px;
}

a.btn.btn-success.left-margin {
    margin-left: 10px;
}

a.index_search {
    color: #6EA634;
}

a.index_search:hover {
    color: #81883C;
}

a.index_book {
    color: #9D549C;
}

a.index_book:hover {
    color: #6A5A7F;
}

a.index_author {
    color: #008289;
}

a.index_author:hover {
    color: #0065A9;
}

a.index_category {
    color: #B5B6B6;
}

a.index_category:hover {
    color: #75777B;
}

.three_button_width {
    width: 138px;
}
