<h2>Edit book</h2>

<%= render "form.html", changeset: @changeset, authors: @authors, categories: @categories,
                        action: book_path(@conn, :update, @book) %>

<%= if @from_show do %>
<%= link " Back", to: book_path(@conn, :show, @book.id), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% else %>
<%= link " Back", to: book_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% end %>
