<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :isbn, class: "control-label" %>
    <%= text_input f, :isbn, class: "form-control" %>
    <%= error_tag f, :isbn %>
  </div>

  <div class="form-group">
    <%= label f, :year, class: "control-label" %>
    <%= number_input f, :year, class: "form-control" %>
    <%= error_tag f, :year %>
  </div>

  <div class="form-group">
    <%= label f, :author_id, class: "control-label" %>
    <%= select f, :author_id, @authors, class: "form-control" %>
    <%= error_tag f, :author_id %>
  </div>

  <div class="form-group">
    <%= label f, "Categories", class: "control-label" %>
    <%= multiple_select f, :category_ids, @categories, class: "form-control", selected: Enum.map(@changeset.data.categories, &(&1.id)) %>
    <%= error_tag f, :person_id %>
  </div>


  <div class="form-group">
    <%= submit " Submit", class: "btn btn-primary fa fa-2x fa-check-circle" %>
  </div>
<% end %>
