<h2>Listing books</h2>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Isbn</th>
      <th>Year</th>
      <th>Author</th>
      <th>Categories</th>
      <th class="three_button_width"></th>
    </tr>
  </thead>
  <tbody>
<%= for book <- @books do %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.isbn %></td>
      <td><%= book.year %></td>
      <td><%= book.author.name %></td>
      <td><%= for category <- book.categories do %>
          <%= category.name %>
          <br/>
      <% end %></td>
      <td class="text-right">
        <%= link "", to: book_path(@conn, :show, book), class: "btn btn-default btn-xs fa fa-eye fa-2x", title: "Show" %>
        <%= link "", to: book_path(@conn, :edit, book), class: "btn btn-default btn-xs  fa fa-edit fa-2x", title: "Edit" %>
        <%= link "", to: book_path(@conn, :delete, book), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs fa fa-trash fa-2x", title: "Delete" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<%= link " New", to: book_path(@conn, :new), class: "btn btn-success btn-xs fa fa-plus-circle fa-2x" %>
