<h2>New book</h2>

<%= if length(@authors) > 0 do %>
<%= render "form.html", changeset: @changeset, authors: @authors, categories: @categories,
                        action: book_path(@conn, :create) %>
<%= if @author do %>
<%= link " Back", to: author_path(@conn, :show, @author), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% else %>
<%= link " Back", to: book_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<% end %>
<% else %>
<p class="alert alert-danger" role="alert">Please add some authors first</p>
<%= link " Back", to: book_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x " %>
<%= link " Add author", to: author_path(@conn, :new), class: "btn btn-success btn-xs fa fa-plus-circle fa-2x left-margin" %>
<% end %>
