<h2>Show book</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>

  <li>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </li>

  <li>
    <strong>Year:</strong>
    <%= @book.year %>
  </li>

  <li>
    <strong>Author:</strong>
    <a href="<%= author_path(@conn, :show, @book.author.id) %>"><%= @book.author.name %></a>
  </li>

  <li>
    <strong>Categories:</strong><br/>
    <%= for category <- @book.categories do %>
        <%= category.name %>
        <br/>
    <% end %>
  </li>

</ul>

<%= link " Back", to: book_path(@conn, :index), class: "btn btn-default btn-xs fa fa-chevron-circle-left fa-2x" %>
<%= link " Edit", to: book_path(@conn, :edit, @book, from_show: true), class: "btn btn-default btn-xs fa fa-edit fa-2x left-margin" %>
