<div class="jumbotron index">
  <h2><%= gettext "Welcome to the book library" %></h2>
  <p class="lead">A library containing books and authors. Contains a search</p>
</div>
<div class="container">
<div class="row">
  <div class="col-sm-3">
    <a href="<%= page_path(@conn, :search) %>" class="index index_search">
      <span class="fa-stack fa-lg index_btn search_jumbo" aria-hidden="true" title="Search">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="<%= book_path(@conn, :index) %>" class="index index_book">
      <span class="fa-stack fa-lg index_btn book_jumbo" aria-hidden="true" title="Books">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="<%= author_path(@conn, :index) %>" class="index index_author">
      <span class="fa-stack fa-lg index_btn author_jumbo" aria-hidden="true" title="Authors">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="<%= category_path(@conn, :index) %>" class="index index_category">
      <span class="fa-stack fa-lg index_btn category_jumbo" aria-hidden="true" title="Categories">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-tag fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </div>
</div>
</div>
