<div class="jumbotron index">
  <h2><%= gettext "Search" %></h2>
  <p class="lead">Search books and authors</p>

  <%= form_for @conn, page_path(@conn, :search), [as: :search], fn f -> %>
    <%= text_input f, :search_term, class: "form-control", placeholder: "Search books and authors..." %>
    </br>
    <div class="form-group">
      <%= submit " Search", class: "btn btn-primary fa fa-2x fa-check-circle" %>
    </div>
  <% end %>
  <a href="#books">Jump to Books</a> |
  <a href="#authors"> Jump to Authors</a>
  </br>
</div>
  <a name="books"></a>
  <%= if length(@books) > 0 do %>
  <h2>Matching books</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th style="width:30%;">Title</th>
        <th>Isbn</th>
        <th>Year</th>
        <th>Author</th>
        <th>Categories</th>
        <th class="three_button_width"></th>
      </tr>
    </thead>
    <tbody>
  <%= for book <- @books do %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.year %></td>
        <td><%= book.author.name %></td>
        <td><%= for category <- book.categories do %>
            <%= category.name %>
            <br/>
        <% end %></td>
        <td class="text-right">
          <%= link "", to: book_path(@conn, :show, book), class: "btn btn-default btn-xs fa fa-eye fa-2x", title: "Show" %>
          <%= link "", to: book_path(@conn, :edit, book), class: "btn btn-default btn-xs  fa fa-edit fa-2x", title: "Edit" %>
          <%= link "", to: book_path(@conn, :delete, book), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs fa fa-trash fa-2x", title: "Delete" %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
  <% end %>

  </br>
  <a name="authors"></a>
  <%= if length(@authors) > 0 do %>
  <h2 name="authors">Matching authors</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Books</th>

        <th class="three_button_width"></th>
      </tr>
    </thead>
    <tbody>
  <%= for author <- @authors do %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.email %></td>
        <td><%= for book <- author.books do %>
            <%= book.title %>
            <br/>
        <% end %></td>

        <td class="text-right">
          <%= link "", to: author_path(@conn, :show, author), class: "btn btn-default btn-xs fa fa-eye fa-2x", title: "Show" %>
          <%= link "", to: author_path(@conn, :edit, author), class: "btn btn-default btn-xs  fa fa-edit fa-2x", title: "Edit" %>
          <%= link "", to: author_path(@conn, :delete, author), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs fa fa-trash fa-2x", title: "Delete" %>
        </td>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
  <% end %>
